.cabecera{
    background-color: violet;
    height: 40px;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: space-evenly;

    .cabecera__logo{

    }

    .cabecera__nav{

    }
}