.principal {
    min-height: 650px;
    background-color: $colorDeBase;
    color: $colorDetalles;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;

    .principal__mensajeError {
        margin-top: 30px;
        padding: 10px;
        text-decoration: none;
    }

    .principal__persona {
        background-color: $colorDetallesOscuro;
        height: 650px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .persona__desplegable {
            width: 70%;
            background-color: $colorDesplegables;
            padding: 5px;
            margin: 10px 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border-radius: 6px;
            align-items: center;

            .desplegable__curso {
                color: white;
                margin-left: 10px;
            }

            .desplegable__flecha {
                height: 10px;
                margin-right: 10px;
            }
        }

        .persona__calificaciones {
            width: 70%;

            .calificaciones__texto {
                color: white;
                padding: 20px 0 5px 0;
                text-align: left;
                font-weight: bold;
            }

            .calificaciones__desplegable {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                background-color: $colorDesplegables;
                padding: 5px;
                margin: 10px;
                border-radius: 6px;
                

                .desplegable__flecha {
                    height: 10px;
                    margin-right: 10px;
                }

                .desplegable__materia {
                    color: white;
                }
            }
        }

        .persona__datos {
            color: white;
            display: none;
            flex-direction: row;
            width: 70%;
            align-items: center;

            .datos__imagenAlumno {
                height: 40px;
            }

            .datos__contenedorAlumno {
                padding: 0 10px;
                display: flex;
                flex-direction: column;

                .contenedorAlumno__nombre {
                    text-align: left;
                }
            }
        }
    }

    .principal__contenedorLogin {
        background-color: $colorDeBase;
        height: 100%;
        width: 250px;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 50px;

        .contenedorLogin__logo {
            width: 250px;
            padding: 0 10px;
        }

        .contenedorLogin__texto {
            margin-top: 10px;
            padding: 10px;
            text-shadow: 1px 1px 10px white;
            size: 22px;
        }

        .contenedorLogin__formulario {
            .contenedorLogin__input {
                width: 90%;
                padding: 10px;
                margin: 5px 0;
                border-radius: 100px;
                border: 2px solid $colorDetalles;
                text-align: left;
            }

            .contenedorLogin__boton {
                padding: 10px;
                margin: 20px 0 20px;
                border-radius: 100px;
                border: 2px solid $colorDetallesOscuro;
                background-color: $colorDetalles;
                color: $colorDeBase;
                width: 90%;
            }

            .contenedorLogin__error {
                margin-top: 20px;
                text-shadow: 1px 1px 10px white;
                color: $textoError;
            }
        }
    }
}